@import 'utils';

.footer{
    background: $oc-gray-7;
    height:10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .brand{
        color:white;
        font-size: 2rem;
        font-weight: 600;
    }

    .login{
        margin-top:0.5rem;
        font-weight: 600;
        font-size:0.9rem;
        color:rgba(255,255,255,0.9);
        cursor: pointer;
        &:hover{
            color:white;
        }
    }
}